.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1236px;
    height: 588px;
    position: relative;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 560px;
    height: 269px;
    top: 216px;
    left: 661px;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 552px;
    height: 269px;
    top: 0;
    left: 8px;
    background-color: #9c2020;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 441px;
    height: 39px;
    top: 83px;
    left: 69px;
    background-color: #d9d9d9;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 371px;
    top: 16px;
    left: 98px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 137px;
    height: 34px;
    top: 163px;
    left: 112px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 137px;
    height: 34px;
    top: 163px;
    left: 329px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 200px;
    top: 92px;
    left: 0;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #756f6f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-3 {
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-4 {
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .rectangle-5 {
    position: absolute;
    width: 1236px;
    height: 128px;
    top: 0;
    left: 26px;
    background-color: #9b2828;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    width: 586px;
    top: 44px;
    left: 0;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #fffcfc;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  

  .frame .overlap {
    position: absolute;
    width: 1262px;
    height: 128px;
    top: 0;
    left: -26px;
  }
  
  
  .frame .image {
    position: absolute;
    width: 652px;
    height: 460px;
    top: 128px;
    left: 0;
    object-fit: cover;
  }
  